---
---

$font-family-sans-serif: "Noto Sans JP", sans-serif !important;
$font-family-base: "Noto Sans JP", sans-serif !important;
$headings-font-family: "Noto Sans JP", sans-serif !important;

a {
  color: inherit;
}

.container {
  font-family: $font-family-base;
}

.navbar {
  font-family: $font-family-base;
  font-weight: 300 !important;
}

.navbar-brand {
  font-family: $font-family-base;
  font-weight: 300 !important;
}

article {
  font-family: $font-family-base;
}

.page-heading h1 {
  font-family: $font-family-base;
  font-weight: 700 !important;
  font-size: 55px !important;
  margin-bottom: 50px;
}

.page-heading .subheading {
  font-family: $font-family-base;
  font-weight: 100 !important;
  font-style: normal !important;
  font-optical-sizing: auto;
  text-align: justify;
  line-height: 1.4 !important;
}

.post-preview {
  h2 {
    font-family: $font-family-base;
  }

  h3 {
    font-family: $font-family-base;
  }
}

